@*
  Autora:Medina Avendaño Griselda
  fecha creación:04/02/2023
  fecha actualización: 06/02/2023
  Descripción: Vista crear de clientes
*@


@model Cliente



@{
    ViewData["Title"] = "Create";
}
<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h1>Nuevo Cliente</h1>
        <hr />
        <div class="row">
            <div class="col">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Correo" class="control-label"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Edad" class="control-label"></label>
                        <input asp-for="Edad" class="form-control" />
                        <span asp-validation-for="Edad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Select File</label>
                        <input asp-for="File" class="form-control" />
                        <span asp-validation-for="File" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input type="submit" value="Crear cliente" class="btn btn-success" />
                        <a class="btn btn-primary" asp-action="Index">Regresar a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
